{{ 'section-banner.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}">
  <nav>
        <div class="Header">
        <div class='HeaderTextDiv'>
          <span>QUESTIONS?</span>
          <div> {% render 'icon-phone' %}</div>
          <span>(929) 566-7788</span>
        </div>
        <div style='  display: flex;align-items: center;font-size: 20px;line-height: 28px;gap: 10px;height: 22px;font-weight: 500;'>
          <div> {% render 'icon-us-flag' %}</div>
          <span>US</span>
        </div>
      </div>
  
  </nav>
  <div>
   
    <div><button>sign in</button></div>
  </div>
  <div>
    <div>
      <div>
        <h2>SUPERPOWERED </h2>
        <h2>PET IDENTIFICATION</h2>
        <h2>SYSTEM</h2>
        <hr>
      </div>

      <p>Every ID your pet needs linked to their whole pack. </p>

      <button>SHOP UPET</button>
      
      </div>
        <div>image</div>
      </div>
</div>
{% schema %}
{
  "name": "t:sections.main-banner-image.name",
  "tag":"section",
  "settings":[
  {

    "type": "text",

    "id": "header",

    "label": "Header"

  }]
}
{% endschema %}
